@model Bingo_CSD_412.Models.Board

@{
    ViewData["Title"] = "Board Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        .bingo-pic {
            max-width: 15%;
        }

        #bingo-occurred {
            text-align: center;
        }
    </style>
</head>
<br />
@if (Model.BingoOccurred)
{
    <div id="bingo-occurred">
        <img class="bingo-pic" src="~/images/bingo_casino.gif" alt="Bingo Casino">
        <img class="bingo-pic" src="~/images/bingo_casino.gif" alt="Bingo Casino">
        <img class="bingo-pic" src="~/images/bingo_casino.gif" alt="Bingo Casino">
        <img class="bingo-pic" src="~/images/bingo_casino.gif" alt="Bingo Casino">
        <img class="bingo-pic" src="~/images/bingo_casino.gif" alt="Bingo Casino">
    </div>
}
<table id="bingo-board" class="table table-bordered">
    <tr>
        <th>B</th>
        <th>I</th>
        <th>N</th>
        <th>G</th>
        <th>O</th>
    </tr>
    @for (int ir = 0; ir < Model.NumberOfRows; ir++)
    {
        <tr>
            @for (int ic = 0; ic < Model.NumberOfColumns; ic++)
            {
                int i = ir * Model.NumberOfColumns + ic;
                string checkState = (Model.IsCellCrossed(i)) ? "is-checked" : "not-checked"; //used to set class for visual feedback

            <td class="bingo-square @checkState">
                @if (Model.IsCellCrossed(i))
                {
                    @Html.DisplayFor(modelItem => Model.DisplayBoard[i])
                }
                @if (!Model.IsCellCrossed(i))
                {
                    <form asp-action="CrossWord">
                        <input type="hidden" name="boardId" value="@Model.BoardId" />
                        <input type="hidden" name="wordIndex" value="@i" />
                        <input type="submit" value=@Html.DisplayFor(modelItem => Model.DisplayBoard[i]) class="btn-link" />
                    </form>
                }
            </td>
            }
        </tr>
    }
</table>
@if (Model.BingoOccurred)
{
    <div id="bingo-occurred">
        <img class="bingo-pic" src="~/images/bingo_jump.gif" alt="Bingo Jump">
        <img class="bingo-pic" src="~/images/bingo_jump.gif" alt="Bingo Jump">
        <img class="bingo-pic" src="~/images/bingo_jump.gif" alt="Bingo Jump">
        <img class="bingo-pic" src="~/images/bingo_jump.gif" alt="Bingo Jump">
        <img class="bingo-pic" src="~/images/bingo_jump.gif" alt="Bingo Jump">
    </div>
}

<br />