@model IEnumerable<Bingo_CSD_412.Models.Board>

@{
    ViewData["Title"] = "My Boards";
}

<h2>My Boards</h2>

<a href="/Boards/Generate?category=CSD_412">Generate New Board</a><br />
<table class="table">
    <thead>
        <tr>
            <th>
                Category
            </th>
            <th>
                BoardId
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BoardId)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { boardId = item.BoardId })
                </td>
            </tr>
        }
    </tbody>
</table>
