@{
    ViewData["Title"] = "Buzzword Bingo Game";
}

<h1>Buzzword Bingo Game</h1>
<a href="/Boards/Generate?category=CSD_412">Generate New Board</a><br />
<a href="/Boards/Index">My Boards</a><br />
<a href="/Categories/Index">Categories</a>
